/* src/pages/EndScreen.css */

.end-screen-container {
  background-color: #161616;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.end-content-wrapper {
  position: relative;
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  /* Add padding-bottom to lift the content group up */
  padding-bottom: 50px; /* Adjust this value as needed */
}

/* Desktop Styles (Default) */
.end-screen-image {
  width: 390px;
  height: 482px;
  border-radius: 8px;
  background-image: url(/public/images/laptop/laptop-end-screen.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 95%;
  margin-bottom: 0px;
}

.email-input {
  width: calc(100% - 40px);
  max-width: 846px;
  height: 46px;
  padding: 0px 8px;
  border: 1px solid #343434;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: #161616;
  color: #94a3b8;
  font-size: 18px;
  font-family: 'Josefin Sans';
  line-height: 60px;
  text-align: center;
  outline: none;
  margin-top: 20px;
  margin-bottom: 50px; /* Added spacing below the email input for desktop */
}

/* Style for email input error */
.email-input.input-error {
  border-color: red;
  box-shadow: 0 0 5px red;
}

.email-error-message {
  color: red;
  font-size: 14px;
  font-family: 'Josefin Sans';
  text-align: center;
  width: calc(100% - 40px);
  max-width: 846px;
  margin-top: 5px;
}

.show-results-button {
  width: calc(100% - 40px);
  max-width: 846px;
  height: 108px;
  padding: 0px 8px;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: #cfcf14;
  color: #000000;
  font-size: 30px;
  font-family: 'Josefin Sans';
  font-weight: 500;
  line-height: 39px;
  text-transform: uppercase;
  outline: none;
  border: none;
}

/* --- Mobile Responsiveness --- */
@media (max-width: 768px) {
  .end-content-wrapper {
    padding-top: 30px;
    padding-bottom: 30px; /* Adjust padding-bottom for mobile */
  }

  .end-screen-image {
    width: 301px;
    height: 373px;
    max-width: 90%;
    margin-bottom: 0px;
  }

  .show-results-button {
    width: calc(100% - 40px);
    max-width: 375px;
    height: 56px;
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: 600;
    line-height: 29px;
    border: none;
  }

  .email-input {
    width: calc(100% - 40px);
    max-width: 375px;
    height: 56px;
    border-radius: 2px;
    color: #c0c0c0;
    font-size: 14px;
    font-family: 'Roboto Mono';
    line-height: 18px;
    margin-top: 15px;
    margin-bottom: 30px; /* Added spacing below the email input for mobile */
  }

  .email-error-message {
    font-size: 12px;
    margin-top: 5px;
  }
}