.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 25px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.header-icon {
  color: #ffffff;
  fill: #ffffff;
  font-size: 24px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.header-icon:hover {
  color: yellow;
  fill: yellow;
}

.header-icon:active {
  color: #eeeeee;
  transform: scale(0.98);
  transition: transform 0.1s ease-out;
}

.nav-links-desktop {
  display: flex;
  gap: 25px;
}

.nav-text {
  color: #ffffff;
  font-size: 16px;
  font-family: 'Open Sans';
  line-height: 19px;
  cursor: pointer;
  white-space: nowrap;
  transition: color 0.2s ease-in-out;
  text-decoration: none;
}

.nav-text:hover {
  color: yellow;
}

.nav-text:active {
  color: #eeeeee;
  transform: scale(0.98);
  transition: transform 0.1s ease-out;
}

.hamburger-icon {
  display: none; 
  cursor: pointer;
}

.hamburger-icon:hover {
  color: yellow;
}

.hamburger-icon:active {
  color: #eeeeee;
  transform: scale(0.98);
  transition: transform 0.1s ease-out;
}

.sidebar {
  position: fixed;
  top: 0;
  right: -300px;
  width: 250px;
  max-width: 80%;
  height: 100%;
  background-color: rgba(20, 20, 20, 1);
  z-index: 1001;
  transition: right 0.3s ease-in-out;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.sidebar.open {
  right: 0;
}

.close-sidebar {
  align-self: flex-end;
  background: none;
  border: none;
  color: white;
  font-size: 30px;
  cursor: pointer;
  padding: 0;
}

.close-sidebar:hover {
  color: yellow;
}

.close-sidebar:active {
  color: #eeeeee;
  transform: scale(0.98);
  transition: transform 0.1s ease-out;
}

.sidebar-nav-links {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  align-items: flex-start;
}

.sidebar-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

@media (max-width: 768px) {
  .header-container {
    padding: 20px;
    flex-direction: row; 
    justify-content: space-between;
    align-items: center; 
    position: relative;
    display: flex;
  }

  .nav-links-desktop {
    display: none;
  }

  .hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 24px;
    height: 20px;
  }

  .hamburger-icon .bar {
    width: 100%;
    height: 3px;
    background-color: white;
    border-radius: 1px;
  }

  .sidebar-overlay {
    display: block; 
  }
}